[submodule "glfw/"]
	path = glfw/
	url = https://github.com/glfw/glfw
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/sorinM2/imgui.git
